/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
/startbootstrap-clean-blog
/node_modules
/public/hot
/public/storage
/storage/*.key
.phpstorm.meta.php
